services:
  ignition-dev:
    image: inductiveautomation/ignition:latest
    container_name: ignition-dev
    ports:
      - "{{ http_port }}:8088"
      - "{{ https_port }}:8043"
    volumes:
      - ign-data:/usr/local/bin/ignition/data
      {% if mode == 'backup' %}
      - ./backups/{{ backup_file }}:/restore.gwbk:ro
      {% else %}
      - ./projects:/usr/local/bin/ignition/data/projects
      {% endif %}
      {% if tag_file %}
      - ./tags/{{ tag_file }}:/usr/local/bin/ignition/data/init-tags.json:ro
      {% endif %}
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_USERNAME={{ admin_user }}
      - GATEWAY_ADMIN_PASSWORD={{ admin_pass }}
      - IGNITION_EDITION={{ edition }}
      - TZ={{ timezone }}
    command:
      - -n
      - "{{ gateway_name }}"
      {% if mode == 'backup' %}
      - -r
      - /restore.gwbk
      {% endif %}
      - --  
      - wrapper.java.initmemory=512
      - Dignition.allowunsignedmodules=true

volumes:
  ign-data: