services:
  ignition-dev:
    image: inductiveautomation/ignition:latest
    container_name: ignition-dev
    ports:
      - "{{ http_port }}:8088"
      - "{{ https_port }}:8043"
    volumes:
      - ign-data:/usr/local/bin/ignition/data
      # new: map host ./logs to the gateway’s logs folder
      - {{ logs_dir }}:/usr/local/bin/ignition/data/logs

      {% if mode == 'backup' %}
      - {{ projects_dir }}/../backups/{{ backup_file }}:/restore.gwbk:ro
      {% else %}
      # Mount the host’s real projects folder:
      - {{ projects_dir }}:/usr/local/bin/ignition/data/projects:rw
      {% endif %}

      {% if tag_file %}
      - {{ tags_dir }}/{{ tag_file }}:/usr/local/bin/ignition/data/init-tags.json:ro
      {% endif %}
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_USERNAME={{ admin_user }}
      - GATEWAY_ADMIN_PASSWORD={{ admin_pass }}
      - IGNITION_EDITION={{ edition }}
      - TZ={{ timezone }}
      - DISABLE_QUICKSTART=true
    command:
      - -n
      - "{{ gateway_name }}"
      {% if mode == 'backup' %}
      - -r
      - /restore.gwbk
      {% endif %}
      - --  
      - wrapper.java.initmemory=512
      - Dignition.allowunsignedmodules=true

volumes:
  ign-data: